/* Icons */
[class^="icon-"],
[class*=" icon-"] {
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
}

.icon-Log-in:before {
    content: "\e903";
}

.icon-Basket:before {
    content: "\e900";
}

.icon-Search:before {
    content: "\e901";
}

.icon-Telephone:before {
    content: "\e902";
}

/* All */
body {
    background-color: #000000;
    color: #FFFFFF;
}

.container,
.container-2 {
    max-width: 1920px;
    margin-left: auto;
    margin-right: auto;

}

.container {
    max-width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
}

.top-info__item,
.top-info__item-link,
.nav__link {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    color: #969696;
}

.top-info__item-link:hover,
.nav__link:hover,
.logo,
.button {
    color: #FFFFFF;
}

.logo,
.heading__title {
    font-family: 'Post No Bills Jaffna SemiBold';
    font-style: normal;
    font-weight: 700;
}

.season-title {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 48px;
    text-align: center;
    text-transform: uppercase;
}

.line {
    display: block;
    max-width: 120px;
    background: #FFFFFF;
}

.watch-name,
.watch-price {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
}

.watch-price {
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    color: #D0D0D0;
}

.title {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 48px;
    text-align: center;
    text-transform: uppercase;
}

.button {
    display: inline-block;
    padding: 12px 28px;
    border: solid 1px;
    width: fit-content;
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

.description {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
}

/* Top-line */

.top-line,
.top-info {
    display: flex;
    justify-content: space-between;
}

.container__top-line {
    padding-top: 14px;
    padding-bottom: 14px;
    font-size: 12px;
    line-height: 16px;
}

.top-info__item {
    position: relative;
}

.top-info__icon {
    margin-right: 10px;
}

.top-info__item:not(:first-child)::before {
    content: '|';
    position: relative;
    top: 0;
    left: 0;
    padding: 10px;
}

.top-info__item_border_2:not(:first-child)::before {
    content: '/';
}

/* Second-line */

.nav,
.second-line,
.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__link {
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
}

.menu__item {
    padding: 31px 20px;
}

.menu__item:hover,
.menu__item:hover>.nav__link {
    background: #1F1F1F;
    color: #FFFFFF;
    cursor: pointer;
}

.nav__icon {
    margin-left: 30px;
    font-size: 25px;
}

.nav__Search {
    font-size: 20px;
}

.burger-menu {
    display: none;
}

.logo {
    font-size: 36px;
    line-height: 54px;
}

/* First-screen */

.first-screen {
    padding-top: 160px;
    padding-bottom: 154px;
    background: url(../img/first-screen-img.png) center;
    background-size: cover;
    color: #FFFFFF;
    text-align: center;
    text-transform: uppercase;
}

.heading {
    width: fit-content;
    padding: 94px 61px;
    margin-left: auto;
    margin-right: auto;
    border: solid 4px;
    font-size: 22px;
}

.heading__title {
    position: relative;
    font-size: 64px;
    line-height: 96px;
    text-decoration: underline;
    text-underline-offset: 2px 15%;
    text-underline-offset: 15%;
}

.container__description {
    margin: 80px auto 0 auto;
    max-width: 730px;
    line-height: 150%;
    font-size: 16px;
}

/* Season */

.season {
    justify-content: space-between;
    display: flex;
}

.new-season {
    padding-top: 93px;
    padding-bottom: 93px;
    min-width: 0;
}

.new-season__line,
.season__watch {
    margin-top: 50px;
}

.watch-name {
    margin-top: 25px;
}

.watch-price {
    margin-top: 10px;
}

.watch__img{
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

.watch{
    max-width: 260px;
}

.background-watch{
    background: #191B1C;
    padding: 27px 22px 34px 22px;
    display: flex;
    height: 270px;
    align-items: center;
    justify-content: center;
}

.new-collection {
    position: relative;
    text-align: center;
    flex-flow: column;
}

.new-collection__heading {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.new-collection__line {
    margin-top: 30px;
}

.new-collection__button {
    margin-top: 30px;
}



/* Slider */

.swiper-container {
    overflow: hidden;
}

.swiper-slide {
    font-size: 18px;
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Season-2 */

.row-reverse{
    flex-direction: row-reverse;
}

.new-season-text {
    text-align: center;
}

.new-season-text__line{
    margin-top: 40px;
}

.new-season-text{
    min-width: 628px;
    padding-top: 100px;
    padding-bottom: 98px;
    margin-left: auto;
    margin-right: auto;
}

.description{
    margin-top: 40px;
    max-width: 700px;
}

.new-season-text__button{
    margin-top: 64px;
}

/* New-gods */

.new-goods{
    padding-top: 120px;
    padding-bottom: 150px;
}

.new-goods__line{
    margin-top: 40px;
    margin-bottom: 81px;
}

.watchs{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 5px;
    grid-row-gap: 40px;
    margin-right: auto;
    margin-left: auto;
    justify-content: center;  
}

.watchs-list{
    display: none;
}

/* Articles */

.articles__title {
    margin-top: 63px;
}

.articles-description__text-articles {
    margin-top: 14px;
}

.articles-description__teg-button {
    margin-top: 40px;
}

.articles__list-articles {
    margin-top: 40px;
}

.articles__line {
    margin-top: 36px;
}

.item-articles {
    display: flex;
    justify-content: start;
    padding-top: 15px;
    padding-bottom: 15px;
}

.articles-description {
    margin-left: 145px;
    left: auto;
    right: auto;
    max-width: 610px;
    padding-top: 53px;
    padding-bottom: 175px;
}

.articles-description__heading,
.text-articles,
.teg-articles {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
}

.articles-description__heading,
.teg-articles {
    font-size: 18px;
    line-height: 23px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

.text-articles {
    font-size: 14px;
    line-height: 150%;
    margin-top: 14px;
}

.teg-button {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.articles-image {
    flex: 0 0 50%;
    position: relative;
}

.articles-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Our-brands */
.our-brands__line {
    margin-top: 22px;
}

.our-partners {
    margin-top: 66px;
}

.our-brands {
    padding-top: 89px;
    padding-bottom: 106px;
}

.list-partners {
    display: flex;
    justify-content: center;
    align-items: center;
}

.list-partners__item {
    padding: 0 15px;
}

/* Footer */
.button-2,
.last-line__text,
.list-info-footer__description {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;

}

.list-info-footer__description,
.button-2 {
    font-size: 14px;
    line-height: 150%;
}

.footer {
    background: url(../img/footer_background.png) center;
    background-size: cover;
    padding-top: 80px;
    padding-bottom: 67px;
}

.list-info-footer {
    display: flex;
    justify-content: space-between;
}

.list-info-footer__item {
    max-width: 350px;
    margin: 0 15px;
}

.list-info-footer__heading {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.button-2 {
    display: inline-block;
    padding: 10px 20px;
    color: #D0D0D0;
}

.list-category {
    max-width: 350px;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
}

.list-category__item {
    display: block;
    background: #0F0F0F;
    margin-right: 6px;
    margin-bottom: 10px;
}

.input-email {
    background: rgba(255, 255, 255, 0.6);
    color: rgb(255, 255, 255, 0.3);
    font-size: 18px;
    max-width: 180px;
    padding: 10px 20px;
    margin-top: 29px;
}

.last-line {
    display: flex;
    justify-content: space-between;
    padding-top: 17px;
    padding-bottom: 17px;
}

/* Last-line */
.last-line__text {
    font-size: 12px;
    line-height: 16px;
    color: #D0D0D0;
}

.underline {
    text-decoration: underline;
}

.our-partners {
    text-align: center;
}

.our-partners-img {
    max-width: 100%;
}

.button-3{
    padding: 10px 20px;
    display: inline-block;
    background: #0F0F0F;
    color: #FFFFFF;
    cursor: pointer;
}

@media screen and (max-width: 1600px){
    .season{
        display: block;
    }

    .new-collection__img{
        width: 100%;
        height: 100%;
         object-fit:contain;
    }

    .articles{
        display: block;
    }

    .item-articles{
        display: contents;
        align-items: center;
    }

    .articles-description{
        margin-left: auto;
        margin-right: auto;
    }

    .new-season-text{
        max-width: 100%;
    }
    .new-season-text__description{
        margin-left: auto;
        margin-right: auto;
    }

}

@media screen and (max-width: 1143px){
    .list-info-footer{
        display: block;
    }
    .list-info-footer__item{
        margin-left: auto;
        margin-right: auto;
    }

    .list-info-footer__item{
        max-width: 700px;
    }

    .list-info-footer__heading{
        margin-top: 30px;
    }

    .watchs{
        grid-template-columns: 1fr 1fr 1fr;
    }
    
}

@media screen and (max-width: 843px){
    .nav{
        display: none;
    }
}

@media screen and (max-width: 650px){
    .new-season-text{
        display: block;
    }
}